<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <!-- <add value="index.php" /> -->
                <!-- <add accessType="Allow" users="*" /> -->
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="application/x-httpd-php" />
        </staticContent>
        <handlers accessPolicy="Read, Script">
            <remove name="CGI-exe" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>
